<%- include('partials/_header') %>
<%- include('partials/_navigation') %>

    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Add Project</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form method="POST" action="/portfolio" novalidate>
                        <div class="row row-fluid">
                            <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                <% if (flashMessages) { %>

                                    <% if (flashMessages.success) { %>
                                        <div class="alert alert-success">
                                            <%= flashMessages.success %>
                                        </div>
            
                                    <% } else if (flashMessages.error) { %>
                                        <div class="alert alert-danger">
                                            <%= flashMessages.error %>
                                        </div>
                                    <% } %>
            
                                <% } %>
                            </div>
                            <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Project Name" required>
                            </div>
                            <div class="offset-1 col-sm-10">
                                <textarea rows="8" name="description"
                                    class="form-control"
                                    placeholder="Project Description"
                                    required></textarea>
                            </div>
                            <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                <input type="text" name="category" id="category" class="form-control" placeholder="Project Category" required>
                            </div>
                            <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                <input type="text" name="link" id="link" class="form-control" placeholder="Project Link" required>
                            </div>
                            <div class="offset-1 col-lg-10 col-md-10 col-sm-10">
                                <button type="submit" id="submit" class="btn btn-primary btn-xl">Submit</button>
                            </div>
                            
                        </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/_footer') %>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
